#header {
    background:   #4F4D53;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
#header div {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
  
}

.container {
    margin: 10px;
    padding: 10px 20px;
    display:  flex;
    width: 100%;
    margin-top: 100px;
    /* background: #eee; */
} 

.left ,.right{
    margin: 10px;
    width: 40%;
    padding: 10px 20px;
    

}
.left input {
    margin: 10px;
    padding: 10px 20px;
}

.left>div {
    display:  flex;
    flex-direction: column;
    margin:  20px 0 ;
 
}


canvas
{
	display: block;
	margin: 0 auto;
	/* border: 6px solid #fb0; */
}

 
#widthValid ,#heightValid {

    display: none;
    font-size: 18px;
    color: #eb345e;
 
}


.invalid {
    display: block;
    color: #eb345e;
    border-color:  "#eb345e" ;
    }


.invalid:focus {
    border: 1px solid #eb345e;
    
    }


